*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    min-height: 100%;
    border: 10px solid lightcoral;
}
.content{
    max-width: 1100px;
    margin: auto;
}
.top_section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}
.top_section h1{
    font-size: 60px;
    font-weight: bold;
   text-transform: uppercase;
}
.top_section h4{
    text-align: end;
    font-size: 30px;
}
.image{
    border-radius: 50%;
    overflow: hidden;
}
.image,img{
    width: 300px;
    height: 320px;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 70px;
    font-weight:400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography_section{
    margin-top: 30px;
}
.biography_section h3{
    font-size: 30px;
}
.biography_section ul{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 20px;
}
.biography_section li{
    margin-bottom: 10px;
}
footer{
        margin: 20px;
        text-align: end;
}